// Theme (Gruvbox-Yellow)

$fg-main: #d39aaa;

$border-main: #d3869b;
$border-alt: #b16286;

$bg-main: #fff8dd;
$bg-alt: #e0bdc1;
$bg-hover: #d5c4a1;
$bg-hover-alt: #665c54;
$bg-tooltip: #fff8dd;
$bg-second: #e0bdc1;
$bg-third: #d1c8ac;

$ply-main: #665c54;
$ply-hover: #b16286;
$ply-act: #d3869b;
$msc-act: #b8bb26;

$wlogout-hover: rgba(60, 56, 54, 0.54);
$wlogout-bg: rgba(60, 56, 54, 0.45);
$wlogout-button: rgba(60, 56, 54, 0.78);

